body {
  background-color:  #8CE38C;
}
h1#site-title {
  color: black;
  font-family: Tahoma;
  font-size: 50px;
  text-align: left;
}
h1#article-title {
  color: black;
  font-family: Tahoma;
  font-size: 50px;
  text-align: center;

}

p {
  color: black;
  font-family: Tahoma;
  font-size: 22px;
}
img {
  max-width: 50%;
  border-radius: 100px;
}
 figure{
  font-family: Tahoma;
  font-size: 15px;
}
figure.main-image {

  background: : #8CE38C;
  border: 2px;
  border-width: thin;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  margin-right: 2px;
  margin-bottom: 32;
  margin-top: auto;
  padding: 24px;

  color: black;


}
nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  border-top: 1px solid Grey;
}
nav ul li {

}
nav ul li a {
  color: #035562;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
nav ul li a: hover {
  border-bottom: 3px solid black;
  padding-bottom: 9px;
}
